body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-track {
    background: rgb(39, 1, 75);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(35, 0, 67);
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(56, 1, 107);
}
header {
    margin: 0;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../assets/images/pixelcut-export.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 5px 5px;
}
.main-horizontal {
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.329);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 3px black;
}
.logo-main-horizontal {
    width: 70%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    align-items: center;
}
.logo {
    width: 5vw;
    height: 7vh;
    background-image: url("../assets/images/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}
.options-main-horizontal {
    width: 17%;
    height: 10vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(47, 1, 91);
    left: 3.3vw;
    border-radius: 30px 0 0 30px;
    transition: 1s;
}
.options-main-horizontal:hover {
    transition: 1s;
    background-color: rgb(56, 1, 107);
}
.contato-container {
    width: 50%;
    height: 10vh;
    background-color: rgb(39, 1, 75);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px 0 0 30px;
    transition: 1s;
}
.contato-container:hover {
    transition: 1s;
    background-color: rgb(47, 1, 91);
}
.info-menu {
    width: 50%;
    height: 10vh;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cart-container {
    z-index: 1;
    width: 10%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 0, 67);
    border-radius: 30px 0 0 30px;
    transition: 1s;
}
.cart-container:hover {
    transition: 1s;
    background-color: rgb(39, 0, 78);
}
main {
    width: 100vw;
    height: auto;
}
.conteudo {
    width: 100vw;
    height: auto;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    align-items: first baseline;
}
.card {
    width: 300px;
    height: 350px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-card {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-do-card {
    width: 300px;
    height: 100%;
    border-radius: 0 0 5px 5px;
}
.conteudo-card {
    width: 100%;
    height: 47%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.titulo {
    cursor: default;
    width: 97%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgb(35, 0, 67);
}
.desc-card {
    cursor: default;
    width: 95%;
    height: 45%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
}
.add-to-cart-btn {
    cursor: pointer;
    width: 95%;
    height: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(35, 0, 67);
    transition: 1s;
}
.card-vermais:hover {
    transition: 1s;
    transform: scale(1.02);
    background-color: rgb(63, 2, 121);
}
.cart-container {
    position: relative;
    display: flex;
    align-items: center;
}

 /* Contêiner do carrinho */
 .cart-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* Contador de itens */
.cart-count {
    position: absolute;
    top: 10px;
    left: 25px;
    background-color: rgb(106, 3, 203);
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.5vh;
    font-weight: bold;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: transform 0.3s ease;
}
footer {
    width: 100vw;
    height: auto;
    background: rgb(0,0,0);
    background: linear-gradient(9deg, rgba(0,0,0,1) 0%, rgb(26, 0, 53) 50%, rgba(45,0,88,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.titulo-footer {
    width: 96%;
    height: 7vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
}
.alinhar-footer {
    width: 97%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin: 10px;
}
.desc-empresa {
    width: 33%;
    padding: 7px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.676);
    border-radius: 5px;
    transform: translateX(-100vw);
    opacity: 0;
    animation: slide-in-left 2s ease-out forwards;
}
.desc-empresa p {
    text-align: justify;
}
@keyframes slide-in-left {
    0% {
        transform: translateX(-100vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.atalhos {
    width: 25%;
    margin-top: -8svh;
    margin-left: 40px;
    padding: 7px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
.titulo-atalhos {
    width: 100%;
}
.atalhos-button {
    cursor: pointer;
    width: 100%;
    height: 9vh;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    color:rgb(35, 0, 67);
    transition: 1s;
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
    animation-delay: calc(var(--order) * 0.3s);
}
.atalhos-button:hover {
    transition: 1s;
    transform: scale(1.02);
    background-color: rgba(240, 248, 255, 0.381);
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.redes-sociais {
    width: 37%;
    margin-top: -8svh;
    margin-left: 40px;
    padding: 7px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
.titulo-rede-sociais {
    width: 100%;
}
.buttons-redes-sociais {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-redes-sociais {
    cursor: pointer;
    margin: 10px;
    width: 6.5em;
    height: 6.5em;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.725);
    color:rgb(35, 0, 67);
    transition: 1s;
    border: none;
    transform: translateY(70px);
    opacity: 0;
    animation: slide-up 1s ease-out forwards;
    animation-delay: calc(var(--order) * 0.3s);
}
.btn-redes-sociais:hover {
    transition: 1s;
    transform: scale(1.08);
    background-color: white;
}
.btn-redes-sociais ion-icon {
    pointer-events: none;
}

@keyframes slide-up {
    0% {
        transform: translateY(100px);
        opacity: 0; 
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}