body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-track {
    background: rgb(39, 1, 75);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(35, 0, 67);
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(56, 1, 107);
}
header {
    margin: 0;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../assets/images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 5px 5px;
}
.main-horizontal {
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.329);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 3px black;
}
.logo-main-horizontal {
    width: 70%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    align-items: center;
}
.logo {
    width: 5vw;
    height: 7vh;
    background-image: url("../assets/images/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}
.options-main-horizontal {
    width: 17%;
    height: 10vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(47, 1, 91);
    left: 3.3vw;
    border-radius: 30px 0 0 30px;
    transition: 1s;
}
.options-main-horizontal:hover {
    transition: 1s;
    background-color: rgb(56, 1, 107);
}
.contato-container {
    width: 50%;
    height: 10vh;
    background-color: rgb(39, 1, 75);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px 0 0 30px;
    transition: 1s;
}
.contato-container:hover {
    transition: 1s;
    background-color: rgb(47, 1, 91);
}
.info-menu {
    width: 50%;
    height: 10vh;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cart-container {
    z-index: 1;
    width: 10%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 0, 67);
    border-radius: 30px 0 0 30px;
    transition: 1s;
}
.cart-container:hover {
    transition: 1s;
    background-color: rgb(39, 0, 78);
}
main {
    width: 100vw;
    height: auto;
}
.conteudo {
    width: 100vw;
    height: auto;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: first baseline;
}
.card {
    width: 300px;
    height: 350px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-card {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-do-card {
    width: 300px;
    height: 100%;
    border-radius: 0 0 5px 5px;
}
.conteudo-card {
    width: 100%;
    height: 47%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.titulo {
    cursor: default;
    width: 97%;
    height: 25%;
    display: flex;
    justify-content: first baseline;
    align-items: center;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgb(35, 0, 67);
}
.desc-card {
    cursor: default;
    width: 95%;
    height: 45%;
    font-size: 16px;
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
}
.card-vermais {
    cursor: pointer;
    width: 95%;
    height: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(35, 0, 67);
    transition: 1s;
}
.card-vermais:hover {
    transition: 1s;
    transform: scale(1.02);
    background-color: rgb(63, 2, 121);
}
.cart-container {
    position: relative;
    display: flex;
    align-items: center;
}

 /* Contêiner do carrinho */
 .cart-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* Contador de itens */
.cart-count {
    position: absolute;
    top: 10px;
    left: 25px;
    background-color: #ff0000;
    color: white;
    font-size: 1.5vh;
    font-weight: bold;
    padding: 0.2em 0.6em;
    border-radius: 50%;
    display: none;
    z-index: 10;
    transition: transform 0.3s ease; /* Efeito de transformação */
}