.container-introducao{
    margin-top: 3vh;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imagem-introducao{
    border-radius: 30px 30px 0 0;
    width: 85%;
    height: 100%;
    background-image: url('../assets/images/acai.webp');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}
.centralizar-cards{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 35vh;
}
.card-1,.card-2,.card-3{
    width: 200px;
    height: 230px;
    border-radius: 15px;
    background-color: #ffffff;
    overflow: hidden;
    position: relative; 
    box-shadow: 0 0 8px #fff;
}

.txt {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.card-imagem {
    height: 170px;
    width: 100%;
    background-image: url('../assets/images/acai.webp');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    overflow: hidden;
}

/* Estilizando o texto escondido */
.texto-subir {
    position: absolute;
    bottom: -170px; /* Começa fora do card */
    left: 0;
    width: 100%;
    height: 170px;
    padding: 5px 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7); /* Fundo escuro com opacidade */
    color: #ffffff; /* Texto branco */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0); /* Inicialmente sem deslocamento */
    transition: transform 0.3s ease, bottom 0.3s ease; /* Suaviza o movimento */
}

.card-1:hover .texto-subir,.card-2:hover .texto-subir ,.card-3:hover .texto-subir  {
    transform: translateY(0px);
    bottom: 0; 
}
.container-ofertas{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: end;
}